## Assignment 9

In [9]:
from dash import Dash,html

In [10]:
from dash import dash_table
import pandas as pd

In [11]:
df=pd.read_csv(r"C:\Users\user\Desktop\archive\Iris.csv")
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [12]:
import dash
from dash import dcc,html
import plotly.express as px
import pandas as pd

In [13]:
graph1=px.bar(df,x='Species',y='PetalLengthCm',title='Bar chart of Petal Length Vs Species')
graph2=px.line(df,x='PetalLengthCm',y='PetalWidthCm',title='Line graph of Petal Length Vs Petal Width')

In [15]:
app=dash.Dash(__name__)
app.layout=html.Div(children=[html.H1(children='Multiple Graph'),html.Div(children=[html.H2(children='Bar chart'),dcc.Graph(figure=graph1)]),html.Div(children=[html.H2(children='Line graph'),dcc.Graph(figure=graph2)])])
if __name__=='__main__':
    app.run(port=8051,debug=True)