#### FIFTH ASSIGNMENT - PANDAS

In [4]:
import pandas as pd
def example(celsius):
    return (celsius*9/5)+32

In [5]:
temp=pd.Series([0,10,20,30,40])
farenheit=temp.apply(example)
print(farenheit)

0     32.0
1     50.0
2     68.0
3     86.0
4    104.0
dtype: float64

In [6]:
df=pd.DataFrame({'product':['glue','pen','pencil'],'price':[230,12,10],'quantity':[2,1,1]})
df

  product  price  quantity
0    glue    230         2
1     pen     12         1
2  pencil     10         1

In [9]:
type(df)

pandas.core.frame.DataFrame

In [10]:
df['price']>20

0     True
1    False
2    False
Name: price, dtype: bool

In [11]:
df[df['price']>20]

  product  price  quantity
0    glue    230         2

In [13]:
df.loc[df['price']>20]

  product  price  quantity
0    glue    230         2